<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lehmannsystems.speedcoach"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/speedcoach_oar_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lehmannsystems.speedcoach.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lehmannsystems.speedcoach.CoxActivity"
            android:label="@string/title_activity_cox" 
            android:theme="@style/CoxTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lehmannsystems.speedcoach.CoachActivity"
            android:label="@string/title_activity_coach"
            android:theme="@style/CoachTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lehmannsystems.speedcoach.RegattaViewFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_regatta_view_fullscreen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.lehmannsystems.speedcoach.WhoAreYouActivity"
            android:label="@string/title_activity_who_are_you"
            android:theme="@style/WhoTheme" >
        </activity>
    </application>

</manifest>
